<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="BaseAddress" value="http://localhost:65425/"/>
    <add key="PostEndPoint" value="api/Post/"/>
    <add key="PostSummariesEndPoint" value="api/PostSummary/"/>
    <add key="CommentsEndPoint" value="api/Comment/"/>

    <!--Reactive schedule interval in seconds-->
    <add key="ObservableScheduleInterval" value="20"/>
  </appSettings>
</configuration>

